@import "src/styles/vars";

.nestedMenu {
  display: grid;
  grid-gap: 8px;
  margin-left: 56px;

  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all ease-out 0.1s;

  &.open {
    max-height: 120px;
    opacity: 1;
  }
}
