@import "src/styles/vars";

.sidebar {
  height: 100vh;
  background: $color-black;
  padding: 32px 0;
}

.menu {
  display: grid;
}

.menuItem {
  @include sidebarMenuItem;
  opacity: 0.5;
  display: flex;
  align-items: center;
  padding: 8px 36px 8px 20px;

  &.active, &:hover {
    opacity: 1;
  }

  path {
    fill: #FFFFFF;
  }
}

.itemIcon {
  height: 24px;
  margin-right: 12px;
}

.arrowIcon {
  margin-left: 6px;
  transform-origin: center;
  transition: all ease-out 0.2s;
}

.arrowIconActive {
  transform: scaleY(-1);
}

.nestedMenu {
  display: grid;
  grid-gap: 8px;
  margin-left: 56px;

  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all ease-out 0.1s;

  &.open {
    max-height: 120px;
    opacity: 1;
  }
}

.nestedMenuItem {
  composes: menuItem;
  @include sidebarNestedMenuItem;
  padding: 0;
}
