@import "src/styles/vars";

.menuItem {
  @include sidebarMenuItem;
  display: flex;
  align-items: center;
  padding: 8px 0;
  opacity: 0.5;

  &.active, &:hover {
    opacity: 1;
  }

  &.match {
    opacity: 0.9;
  }

  &.nested {
    @include sidebarNestedMenuItem;
    padding: 4px 0;
  }

  path {
    fill: #FFFFFF;
  }
}

.itemIcon {
  height: 24px;
  margin-right: 12px;
}

.arrowIcon {
  margin-left: 6px;
  transform-origin: center;
  transition: all ease-out 0.2s;
}

.arrowIconActive {
  transform: scaleY(-1);
}
