$fontFallback: sans-serif;
$fontRoboto: 'Roboto', $fontFallback;

$color-black: #181818;

/* Заголовок страницы */
@mixin pageHeader {
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: $color-black;
}

@mixin sidebarMenuItem {
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
