$fontRoboto: 'Roboto', sans-serif;

$color-black: #181818;

@mixin sidebarMenuItem {
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

@mixin sidebarNestedMenuItem {
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
