@import "src/styles/vars";

.nestedMenu {
  display: grid;
  margin-left: 36px;
  margin-top: -4px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all ease-out 0.1s;
  z-index: 1;

  &.open {
    max-height: 120px;
    opacity: 1;
  }
}
